<section class="post-form">
  <form #form="ngForm" (submit)="submitPost(form)">
    <h2>Title</h2>
    <input
      type="text"
      placeholder="Whatcha thinking about?"
      name="title"
      [(ngModel)]="title"
    />
    <h2>Thought</h2>
    <textarea
      name="content"
      [(ngModel)]="content"
      cols="30"
      rows="10"
      placeholder="Expound on that thought here"
    ></textarea>
    <div class="modal-actions">
      <button id="submit" type="submit" class="btn">Add Post</button>
      <button id="cancel" class="btn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</section>
