h1 {
  font-family: "Homemade Apple", cursive;
  color: rgb(3, 169, 244);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.container {
  width: 70vw;
}

#new-thought {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
}

.post {
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px black solid;
  padding: 1rem 2rem;
}
